KERNEL=="sd[b-z]", ACTION=="add", RUN+="/usr/bin/curl -X POST localhost:8000/add/device/%k"
KERNEL=="sd[b-z]", ACTION=="remove", RUN+="/usr/bin/curl -X POST localhost:8000/del/device/%k"